@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes slideUp {
  0% {
    transform: translateY(18vh);
    opacity: 0; }
  50% {
    opacity: 0;
    transform: translateY(9vh); }
  80% {
    opacity: 0.5;
    transform: translateY(-1.5vh); }
  100% {
    transform: translateY(0);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 80em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 40%; } }
  @media only screen and (max-width: 32em) {
    html {
      font-size: 35%; } }

body {
  font-family: "Lato";
  font-weight: 400;
  color: #fff; }

.nav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10rem;
  z-index: 100; }
  @media only screen and (max-width: 32em) {
    .nav {
      height: 12rem; } }
  .nav__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    width: 8rem;
    height: 8rem;
    margin-left: 4%;
    transition: transform 0.4s;
    text-decoration: none; }
    .nav__logo:hover {
      backface-visibility: hidden;
      transform: scale(1.1); }
    .nav__logo:active {
      transform: scale(0.95); }
    .nav__logo--letters {
      color: #acc7dc;
      font-size: 3.5rem;
      font-family: "Lobster"; }
  .nav__links {
    list-style: none;
    font-size: 2rem;
    font-weight: 500;
    display: none;
    margin-right: 4%;
    font-family: "Montserrat";
    transition: all .3s;
    cursor: pointer; }
    @media only screen and (max-width: 32em) {
      .nav__links {
        display: none;
        position: absolute;
        background-color: #fff;
        top: 12rem;
        width: 100%;
        height: 15vh;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 0;
        transition: all 0.3s;
        border-bottom: 1px solid #acc7dc; } }
    .nav__links--element {
      text-decoration: none;
      padding: 1.8rem;
      color: #fff;
      transition: all 0.3s; }
      @media only screen and (max-width: 32em) {
        .nav__links--element {
          font-size: 2.5rem;
          margin: 1.8rem; } }
  .nav__hamburger {
    display: none; }
    @media only screen and (max-width: 32em) {
      .nav__hamburger {
        flex-direction: column;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        margin-right: 4%; }
        .nav__hamburger--top, .nav__hamburger--mid, .nav__hamburger--bot {
          width: 6rem;
          height: 1rem;
          background-color: #acc7dc;
          border-radius: 4rem;
          transition: all .4s; }
        .nav__hamburger--top {
          transform: translateY(-0.8rem); }
        .nav__hamburger--bot {
          transform: translateY(0.8rem); } }

.header {
  width: 100vw;
  height: 105vh;
  background-color: #acc7dc;
  display: flex;
  justify-content: center;
  font-family: "Montserrat"; }
  .header__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .header__title--name {
      display: inline-block;
      color: #203c4d; }
    .header__title--summary {
      font-family: "Lato";
      padding-bottom: 4.5rem;
      font-size: 6rem;
      animation: fadeIn 1.2s;
      text-align: center; }
    .header__title--button {
      padding: 2rem 3.5rem;
      border: 2px solid #fff;
      border-radius: 3.5rem;
      font-size: 2.5rem;
      text-decoration: none;
      cursor: pointer;
      animation: slideUp 1s;
      transition: all 0.4s; }
      .header__title--button:link, .header__title--button:visited {
        color: #fff; }
      .header__title--button:hover {
        transform: translateY(-0.5rem);
        background-color: #fff;
        color: #acc7dc; }
      .header__title--button:active {
        transform: translateY(-0.1rem); }

.portfolio__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 3rem;
  padding: 15rem 0;
  background-color: #f7f7f7; }
  @media only screen and (max-width: 32em) {
    .portfolio__intro {
      padding: 12rem 0; } }
  .portfolio__intro--title {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color: #474747; }
  .portfolio__intro--description {
    color: rgba(71, 71, 71, 0.8);
    font-size: 2rem;
    width: 65vw;
    text-align: center; }
    @media only screen and (max-width: 32em) {
      .portfolio__intro--description {
        width: 85%;
        font-size: 2.2rem; } }

.portfolio__entries {
  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
  padding-bottom: 15rem; }
  @media only screen and (max-width: 32em) {
    .portfolio__entries {
      grid-template-columns: 1fr;
      padding: 0; } }

.portfolio__entry {
  color: #474747;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: end; }
  .portfolio__entry--title {
    font-size: 4rem;
    padding: 15rem 0 3rem 0;
    text-align: center; }
  .portfolio__entry--description {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 2rem;
    width: 80%;
    line-height: 3rem; }
    @media only screen and (max-width: 32em) {
      .portfolio__entry--description {
        width: 85%;
        font-size: 2.2rem; } }
  .portfolio__entry .card {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s; }
    .portfolio__entry .card__image {
      width: 100%;
      height: auto;
      transition: all 0.5s; }
    .portfolio__entry .card__buttons {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center; }
  .portfolio__entry .info__button {
    padding: 1rem 2rem;
    border: 1px solid #f7f7f7;
    border-radius: 3rem;
    color: #f7f7f7;
    text-decoration: none;
    font-size: 3.5rem;
    margin: 2rem;
    opacity: 0;
    visibility: invisible;
    transition: all 0.5s; }
    .portfolio__entry .info__button:hover {
      color: rgba(71, 71, 71, 0.7);
      background-color: rgba(247, 247, 247, 0.8); }

@media only screen and (max-width: 32em) {
  [class~="portfolio__entry"]:last-of-type {
    padding-bottom: 12rem; } }

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 4rem;
  padding: 15rem 0;
  background-color: #a3d1d0;
  color: #fff; }
  .aboutme__title {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 6rem;
    font-weight: bold; }
  .aboutme__description {
    font-size: 2rem;
    width: 60vw;
    letter-spacing: 0.1rem;
    text-align: center;
    margin: auto; }
    @media only screen and (max-width: 32em) {
      .aboutme__description {
        width: 85%;
        font-size: 2.2rem; } }

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 4rem;
  padding: 20rem 0;
  background-color: #7c97c2;
  color: #fff; }
  .contact__title {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 6rem;
    font-weight: bold; }
  .contact__description {
    font-size: 2.3rem;
    width: 45vw;
    text-align: center; }
    @media only screen and (max-width: 32em) {
      .contact__description {
        width: 85%;
        font-size: 2.2rem; } }
  .contact__links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    width: 25%; }
    .contact__links--icon {
      text-decoration: none;
      font-size: 3.5rem;
      padding: 0 1.5vw 0 1.5vw;
      transition: all .2s; }
      @media only screen and (max-width: 32em) {
        .contact__links--icon {
          padding: 0 2.5vw 0 2.5vw; } }
      .contact__links--icon:link, .contact__links--icon:visited {
        color: #fff; }
      .contact__links--icon:hover {
        transform: scale(1.1); }
      .contact__links--icon:active {
        transform: scale(0.9); }

.whiteBackground {
  background-color: #fff; }

.blueBackground {
  background-color: #acc7dc; }

.whiteText {
  color: #fff; }

.blueText {
  color: #acc7dc; }

.highlightText {
  color: #62a7de; }

.navShadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); }

.navAnimationTop {
  transform: rotate(-45deg) translate(-1.375rem); }

.navAnimationMid {
  opacity: 0; }

.navAnimationBot {
  transform: rotate(45deg) translate(-1.375rem); }

.visible {
  display: flex; }

.sm--separator {
  height: 0.1rem;
  width: 30vw;
  background-color: #fff;
  margin: 4rem 0 2.5rem 0; }
  @media only screen and (max-width: 32em) {
    .sm--separator {
      width: 50vw; } }
