//VARIABLES
$color-pastel-blue: #acc7dc; //acc7dc
$color-blue: #7c97c2;
$color-pastel-green: #a3d1d0;
$color-white: #fff; //fff
$color-darker-gray: #474747;
$color-light-gray: #f9f9f9;
$separator: #e6e6e6;

$bp-largest: 80em; //1280px
$bp-medium: 50em; //800px
$bp-small: 32em; //512px
$bp-smallest: 23em; //368px


//MIXINS
@mixin section__title {
    padding-bottom: 5rem;
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
}

@mixin center-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//ANIMATIONS
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(18vh);
        opacity: 0;
    }  

    50% {
        opacity: 0;
        transform: translateY(9vh);
    }

    80% {
        opacity: 0.5;
        transform: translateY(-1.5vh);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}