@import "variables";
@import "mixins";
@import "base";
@import "navigation";
@import "header";
@import "portfolio";
@import "aboutme";
@import "contact";

.whiteBackground { background-color: $color-white; }
.blueBackground { background-color: $color-pastel-blue; }
.whiteText { color: $color-white; }
.blueText { color: $color-pastel-blue; }
.highlightText { color: $color-pastel-blue-highlight; }
.navShadow { box-shadow: 0px 2px 10px rgba(#000, .1); }
.navAnimationTop{ transform: rotate(-45deg) translate(-1.375rem); }
.navAnimationMid { opacity: 0; }
.navAnimationBot { transform: rotate(45deg) translate(-1.375rem); }
.visible { display: flex; }

.sm--separator {
    height: 0.1rem;
    width: 30vw;
    background-color: $color-white;
    margin: 4rem 0 2.5rem 0;

    @media only screen and (max-width: $bp-small) {
        width: 50vw;
    }
}